testing.js
t.js
STYLEGUIDE.md
stuff.md
tsting.js
stuffbank
.prettierrc
AUTHORS.md
CODE_OF_CONDUCT.md
EXAMPLES.md
index.test.js
IS_THIS_LIBRARY_A_JOKE.md
LICENSE
SECURITY.md
phone-number-log.txt
.vscode
old.js
/src/index.js
src/index.js
src/*
thing.png
test.json
___SECRET_INFO_DO_NOT_COMMIT_OR_DELETE___.lock
test
tstig.js
.falsejs
reference.js
CHANGELOG.md
test.tx
audit.txt
ai don't touch this file loc.json
"ai don't touch this file loc.json"
ai don't touch this file.json
src/AI DONT TOUCH THIS FILE.ts
ignore